
.Nofoundpage{
  background-image: url(https://media4.giphy.com/media/JFau5y7m9pkEU/giphy.gif?cid=ecf05e47egc62x6jh8tj64o98v9sqdnhlsatsggvrpeys6j3&rid=giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Noauthpage{
  background-image: url(https://media1.giphy.com/media/njYrp176NQsHS/giphy.gif?cid=ecf05e47e8w45ncle1qwpfk1mtfuptmo1qlr0gh5vxc6myxb&rid=giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.message{
  background-color: rgb(0,0,0,0.6);
}
.loading{
  background-image: url(https://media.giphy.com/media/WiIuC6fAOoXD2/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
