.pointercursor{
    cursor: pointer;
}
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
body,html,#root{
  height:100%;
  background-color: aliceblue;
  font-family: Arial !important;
}
 .antihome{
   margin-top: 2%;
 }

 .homecolor{
   background-color: rgb(40, 40, 45) !important;
 }
 .owlSlide{
  width: 360px !important; margin-right: 50px !important;
 }

 .newest-news{

   height: 400px !important;
 }
 .newest-news2{

  height: 200px !important;
}

.newest-news:hover, .newest-news2:hover {
  border-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  border-style: solid;
  border-image-slice: 1;
}
.news_wrap{
  border-bottom:  solid white !important;

}
.news_wrap:hover{
  border-bottom: solid #fc5296 !important;
  color: white;
}

.labelGradient {
  background: -webkit-linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoLemon{
  height: auto;
  width: 200px;
}
.linear-wipe {
  text-align: center;
  
  background: linear-gradient(315deg, #fc5296 0%, #f67062 74%);;
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.bgMovie{
  background-image: url(../images/home-home__bg.jpg) center center / cover no-repeat;
}
.newshr{
  background-image: -webkit-linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  border: 0;
  height: 1px;
  }
.detailReadmore
{
  height: 200px;
  max-height: 200px;
  overflow: hidden;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*  */
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}


.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* .card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
} */


.card2 {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: .2s;
}
.card2:hover {
  transform: translateY(-1rem);
}

.cardheader:hover{
  background: -webkit-linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.card2:hover~.card2{
  transform: translateX(130px);
}


.card2:not(:first-child) {
  margin-left: -130px;
}
.posterImg{

  height:400px !important;
  width :auto;/*maintain aspect ratio*/
  max-width:500px;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #000;
}


/*  */

  .animated-grid {
    height: 85vh;
    margin-bottom: 200px;
  
    display: grid;
    gap: 1rem;
  
    /* Explicit grid */
    grid-template-areas:
      'a  b  c  d'
      'l  🌟 🌟 e'
      'k  🌟 🌟 f'
      'j  i  h  g';
  
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;
  
    --stagger-delay: 100ms;
  }
  
  @keyframes cardEntrance {
    from {
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(180deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
    }
  }
  
  .card3 {
    background-color: rgb(36, 243, 147);
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
  }
  .card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card3:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }
  
  .card3:nth-child(1) {
    grid-area: a;
    animation-delay: calc(1 * var(--stagger-delay));
  }
  .card3:nth-child(2) {
    grid-area: b;
    animation-delay: calc(2 * var(--stagger-delay));
  }
  .card3:nth-child(3) {
    grid-area: c;
    animation-delay: calc(3 * var(--stagger-delay));
  }
  .card3:nth-child(4) {
    grid-area: d;
    animation-delay: calc(4 * var(--stagger-delay));
  }
  .card3:nth-child(5) {
    grid-area: e;
    animation-delay: calc(5 * var(--stagger-delay));
  }
  .card3:nth-child(6) {
    grid-area: f;
    animation-delay: calc(6 * var(--stagger-delay));
  }
  .card3:nth-child(7) {
    grid-area: g;
    animation-delay: calc(7 * var(--stagger-delay));
  }
  .card3:nth-child(8) {
    grid-area: h;
    animation-delay: calc(8 * var(--stagger-delay));
  }
  .card3:nth-child(9) {
    grid-area: i;
    animation-delay: calc(9 * var(--stagger-delay));
  }
  .card3:nth-child(10) {
    grid-area: j;
    animation-delay: calc(10 * var(--stagger-delay));
  }
  .card3:nth-child(11) {
    grid-area: k;
    animation-delay: calc(11 * var(--stagger-delay));
  }
  .card3:nth-child(12) {
    grid-area: l;
    animation-delay: calc(12 * var(--stagger-delay));
  }
  .card3:last-child {
    grid-area: 🌟;
    animation-delay: calc(13 * var(--stagger-delay));
  }
  